


body, table {font-family: "Hiragino Sans GB", Optima, "Lucida Grande", Consolas, "Courier New";}
body, table {color: #333;}
h1, h2, h3 {font-family: "Hiragino Sans GB", Optima, "Lucida Grande", "Microsoft JhengHei", "Microsoft YaHei";}
h1, h2, h3, h4, strong {color: #000;}
code, pre {font-family: Monaco, Consolas, "Courier New";}
code, pre {background: #eef;}